@font-face {
  font-family: 'SansPro';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('SansPro'), url('./fonts/SansPro/SourceSansPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SansPro';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('SansPro'), url('./fonts/SansPro/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SansPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('SansPro'), url('./fonts/SansPro/SourceSansPro-Light.otf') format('opentype');
}
