$font-global: 'SansPro', 'Segoe UI', Helvetica, 'Microsoft JhengHei', Arial, sans-serif;

// Overwrite default family
$typography-font-family: $font-global;

$body-font-size: 13px !default;
$body-line-height: 1.3 !default;
