@import './reset/a';
@import './reset/p';

@import './fonts/SansPro';

@import './components/text';

@import './models/font';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-global;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
